#hd .container-1824 {
  position: relative;
  z-index: 2;
}
#hd .container-1824 .gnb li {
  display: inline-block;
}
#hd .container-1824 .gnb li a {
  font-family: "Roboto Condensed";
  font-size: 1.0625rem;
  font-weight: 700;
  color: #fff;
}
#hd .container-1824 .iconMenu {
  width: 0;
}
#hd .container-1824 .iconMenu li svg:hover path {
  fill: #D9261C;
}
#hd .container-1824 .iconMenu li span {
  font-family: "Noto Sans KR";
  font-size: 0.875rem;
  font-weight: 700;
  color: #fff;
}

#main {
  height: 100vh;
}
#main .mainImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: 1;
}

#ft {
  background-color: #D9261C;
}
#ft .container-1400 {
  height: 520px;
}
#ft .container-1400 .gnb li {
  display: inline-block;
  border-bottom: 1px soild #c7c1c1;
}
#ft .container-1400 .gnb li a {
  font-family: "Noto Sans KR";
  font-size: 17px;
  font-weight: 400;
  color: #fff;
}
#ft .container-1400 .ftText p {
  font-family: "Noto Sans KR";
  font-size: 15px;
  font-weight: 400;
  color: #fff;
}
#ft .container-1400 .ftText .ftTextIcon p {
  font-family: "Noto Sans KR";
  font-size: 15px;
  font-weight: 400;
  color: #fff;
}