#hd {
  position: relative;
  position: fixed;
  z-index: 99999;
  top: 0;
  width: 100%;
}
#hd .h1 {
  width: 0;
}
#hd .gnb:before {
  content: "";
  align-items: center;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 0;
  width: 100%;
  transition: 0.5s;
  background-color: rgba(255, 255, 255, 0.8);
}
#hd .gnb:hover:before {
  height: 180px !important;
}
#hd .gnb .gnb_d1_li .gnb_d1_a {
  font-family: "Roboto Condensed";
  font-size: 1.0625rem;
  font-weight: 500;
  color: #ffffff;
}
#hd .gnb .gnb_d1_li:hover ul {
  max-height: 180px;
}
#hd .gnb .gnb_d1_li:hover > a {
  color: #D9261C;
}
#hd .gnb .gnb_d1_li .d2_ul {
  max-height: 0;
  transition: max-height 0.5s;
  overflow: hidden;
  white-space: nowrap;
  left: -1rem;
  padding: 0 1rem !important;
  border: 0 !important;
  line-height: 2rem;
  letter-spacing: -0.85px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 1.0625rem;
}
#hd .gnb .gnb_d1_li .d2_ul:before, #hd .gnb .gnb_d1_li .d2_ul:after {
  content: "";
  display: block;
  height: 3rem;
}
#hd .gnb .gnb_d1_li .d2_ul a {
  font-family: "Noto Sans KR";
  font-size: 1.0625rem;
  font-weight: 500;
  color: #333333;
}
#hd .gnb .gnb_d1_li .d2_ul li:hover > a {
  color: #D9261C;
}
#hd .iconMenu {
  width: 64px;
}
#hd .iconMenu li svg:hover path {
  fill: #D9261C;
}
#hd .iconMenu li a {
  font-family: "Noto Sans KR";
  font-size: 0.875rem;
  font-weight: 500;
  color: #ffffff;
  letter-spacing: -0.85px;
}
#hd .iconMenu li a:hover {
  color: #D9261C;
}
#hd.scrolled {
  background-color: rgba(255, 255, 255, 0.8);
}
#hd.scrolled .gnb_d1_a,
#hd.scrolled .d2_ul a,
#hd.scrolled a {
  color: #333 !important;
}
#hd.scrolled .gnb_d1_a:hover,
#hd.scrolled .d2_ul a:hover,
#hd.scrolled a:hover {
  color: #D9261C !important;
}
#hd.scrolled svg path {
  fill: #333 !important;
}
#hd.scrolled svg path:hover {
  fill: #D9261C !important;
}

#main .mainBanner .bgImg {
  width: 100%;
  max-width: 1920px;
  height: 100vh;
  max-height: 1000px;
  margin: 0 auto;
  background-image: url("../img/mainImg.jpg");
  background-repeat: no-repeat;
  background-position: center !important;
  background-size: cover;
}
#main .mainBanner .bgImg:after {
  content: "";
  background-image: url("../img/coffeeBeen.png");
  background-repeat: no-repeat;
  background-size: 100%;
  display: inline-block;
  height: 66px;
  width: 109px;
  margin-top: 2%;
  margin-left: 54%;
}
#main .mainBanner .bgImg .mainTextbox {
  width: 521px;
  margin-top: 461px;
  margin-left: 696px;
  text-align: center;
}
#main .mainBanner .bgImg .mainTextbox .mainText1 {
  color: #FFF;
  font-family: "Roboto Condensed";
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  letter-spacing: 5.7px;
  margin-bottom: 26px;
}
#main .mainBanner .bgImg .mainTextbox .mainText2 {
  color: #FFF;
  font-family: "Noto Sans KR";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.9px;
  margin-bottom: 0;
}
#main .mainBanner .bgImg .mainTextbox .btn {
  margin-top: 80px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: "Noto Sans KR";
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  background-color: #D9261C;
  border-radius: 30px;
  width: 168px;
  height: 50px;
  text-align: center;
  letter-spacing: -0.8px;
}

#product {
  margin-bottom: 200px;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
#product .productUl {
  overflow: hidden;
  padding: 0;
  width: 100%;
  max-width: 1920px;
}
#product .productUl .productBox .hoverBox {
  position: relative;
  overflow: hidden;
  width: 384px;
  height: 300px;
  background-color: #121013;
}
#product .productUl .productBox .hoverBox:hover {
  background-color: #D9261C;
}
#product .productUl .productBox .hoverBox:hover .titletext {
  text-align: center;
  z-index: 9999;
}
#product .productUl .productBox .hoverBox:hover .subtext {
  text-align: center;
  font-weight: 700 !important;
  z-index: 9999;
}
#product .productUl .productBox .hoverBox:hover .prdImg {
  transform: translateX(-120%);
  z-index: 999;
}
#product .productUl .productBox .hoverBox:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(18, 16, 19, 0.5);
  transition: background-color 0.3s ease-in-out;
  z-index: 998;
  pointer-events: none;
}
#product .productUl .productBox .hoverBox .textarea {
  position: absolute;
  width: 100%;
  padding: 100px 37px 0;
  z-index: 999;
}
#product .productUl .productBox .hoverBox .textarea .titletext {
  font-family: "Noto Sans KR";
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: -1.2px;
  line-height: 24px;
}
#product .productUl .productBox .hoverBox .textarea .subtext {
  font-family: "Noto Sans KR";
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: -0.96px;
  line-height: 22.6px;
}
#product .productUl .productBox .hoverBox .imgarea {
  position: relative;
  z-index: 9;
}
#product .productUl .productBox .hoverBox .imgarea .prdImg {
  position: absolute;
  transition: all 0.3s ease;
  margin-top: 52px;
  width: 134px;
  height: 225px;
  left: 282px;
  z-index: 999;
}

#company {
  margin-bottom: 150px;
  display: flex;
  justify-content: center;
}
#company .comdiv {
  overflow: hidden;
  margin-left: 48px;
  width: 100%;
  max-width: 1920px;
}
#company .comdiv .comtext {
  height: 253px;
}
#company .comdiv .comtext h2 {
  font-family: "Noto Sans KR";
  font-size: 29px;
  font-weight: 700;
  line-height: 141%; /* 40.89px */
  letter-spacing: -1.45px;
}
#company .comdiv .comtext .btn {
  margin-top: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: "Noto Sans KR";
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  background-color: #D9261C;
  border-radius: 30px;
  width: 160px;
  height: 42px;
  text-align: center;
  letter-spacing: -0.8px;
}
#company .comdiv .swiper-container .swiper-wrapper {
  display: flex;
}
#company .comdiv .swiper-container .swiper-wrapper .swiper-slide {
  position: relative;
  width: 512px;
  height: 285px;
  border-top-right-radius: 30px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#company .comdiv .swiper-container .swiper-wrapper .swiper-slide .dark_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top-right-radius: 30px;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
#company .comdiv .swiper-container .swiper-wrapper .swiper-slide .textarea {
  position: absolute;
  z-index: 2;
  bottom: 0;
  width: 100%;
  height: 108px;
  border-top-right-radius: 30px;
  background: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}
#company .comdiv .swiper-container .swiper-wrapper .swiper-slide .textarea h3 {
  color: #FFF;
  font-family: "Roboto Condensed";
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.6px;
}
#company .comdiv .swiper-container .swiper-wrapper .swiper-slide .textarea p {
  color: #FFF;
  font-family: "Noto Sans KR";
  font-size: 15px;
  font-weight: 400;
  line-height: 120%; /* 18px */
  letter-spacing: -0.75px;
}
#company .comdiv .swiper-container .swiper-wrapper .swiper-slide .textarea .arrow {
  display: block;
  position: absolute;
  bottom: 38px;
  right: 23px;
  width: 32px;
  height: 32px;
  overflow: hidden;
}
#company .comdiv .swiper-container .swiper-wrapper .swiper-slide .textarea .arrow svg {
  position: absolute;
  right: 0;
  height: auto !important;
}
#company .comdiv .swiper-container .swiper-wrapper .swiper-slide .textarea .arrow svg.white {
  transition: opacity 0.2s, margin-right 0.2;
}
#company .comdiv .swiper-container .swiper-wrapper .swiper-slide .textarea .arrow svg.red {
  opacity: 0;
  right: 32px;
  transition: opacity 0.2s, right 0.2;
}
#company .comdiv .swiper-container .swiper-wrapper .swiper-slide .textarea .arrow:hover svg.white {
  animation: arrowAnimationBefore 0.3s forwards;
}
#company .comdiv .swiper-container .swiper-wrapper .swiper-slide .textarea .arrow:hover svg.red {
  animation: arrowAnimationAfter 0.3s forwards 0.3s;
}
@keyframes arrowAnimationBefore {
  from {
    margin-right: 0;
    opacity: 1;
  }
  to {
    margin-right: -32px;
    opacity: 0;
  }
}
@keyframes arrowAnimationAfter {
  from {
    right: 32px;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}

#art {
  margin-bottom: 465px;
}
#art .box {
  position: relative;
}
#art .box .videoArea {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}
#art .box .videoArea img {
  max-width: 100%;
  height: auto;
}
#art .box .videoArea .playButton {
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("/img/mediaPlayIcon.svg");
  background-size: cover;
  width: 45px;
  height: 52px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 3;
}
#art .box .textArea {
  position: absolute;
  top: 265px;
  left: 0;
  right: 0;
  background-color: #D9261C;
  height: 530px;
  width: 100%;
  z-index: 1;
  text-align: center;
  padding-top: 330px;
}
#art .box .textArea h2 {
  color: #FFF;
  font-size: 38px;
  font-weight: 500;
  line-height: 100%; /* 38px */
  letter-spacing: 15.2px;
}
#art .box .textArea .p1 {
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%; /* 16px */
  letter-spacing: 3.2px;
}
#art .box .textArea .p2 {
  color: #FFF;
  font-family: "Noto Sans KR";
  font-size: 16px;
  font-weight: 300;
  line-height: 140%; /* 22.4px */
  letter-spacing: -0.8px;
}

#shop {
  margin-bottom: 150px;
  display: flex;
  justify-content: center;
}
#shop .shopdiv {
  overflow-x: hidden;
  margin-left: 48px;
  width: 100%;
  max-width: 1920px;
}
#shop .shopdiv .shoptext {
  height: 226px;
}
#shop .shopdiv .shoptext h2 {
  font-family: "Noto Sans KR";
  font-size: 29px;
  font-weight: 500;
  line-height: 140%; /* 40.6px */
  letter-spacing: -2.03px;
}
#shop .shopdiv .shoptext p {
  font-family: "Noto Sans KR";
  font-size: 15px;
  font-weight: 300;
  line-height: 140%; /* 21px */
  letter-spacing: -0.75px;
}
#shop .shopdiv .shoptext .btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: "Noto Sans KR";
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  background-color: #D9261C;
  border-radius: 30px;
  width: 160px;
  height: 42px;
  text-align: center;
  letter-spacing: -0.8px;
}
#shop .shopdiv .swiper-container .swiper-wrapper {
  display: flex;
}
#shop .shopdiv .swiper-container .swiper-wrapper .swiper-slide {
  width: 350px;
  height: 475px;
  display: flex;
  flex-direction: column;
}
#shop .shopdiv .swiper-container .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 420px;
  border-top-right-radius: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}
#shop .shopdiv .swiper-container .swiper-wrapper .swiper-slide p {
  color: #000;
  font-family: "Noto Sans KR";
  font-size: 17px;
  font-weight: 500;
  line-height: 100%; /* 17px */
  letter-spacing: -0.85px;
}

#story {
  margin-bottom: 200px;
}
#story .inner {
  height: 586px;
  background: #F3EFE9;
}
#story .inner .textArea {
  padding-top: 94px;
  padding-left: 212px;
}
#story .inner .textArea h2 {
  color: #333;
  font-family: "Noto Sans KR";
  font-size: 29px;
  font-weight: 500;
  line-height: 145%;
  letter-spacing: -2.03px;
}
#story .inner .textArea p {
  color: #666;
  font-family: "Noto Sans KR";
  font-size: 15px;
  font-weight: 300;
  line-height: 145%;
  letter-spacing: -1.2px;
}
#story .inner .textArea .btn {
  margin-top: 60px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: "Noto Sans KR";
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  background-color: #D9261C;
  border-radius: 30px;
  width: 160px;
  height: 42px;
  text-align: center;
  letter-spacing: -0.8px;
}
#story .inner .value {
  padding-top: 94px;
  padding-left: 151px;
}
#story .inner .value .icon_wrapper {
  width: 65px;
  height: 65px;
  background-color: #D9261C;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#story .inner .value .icon_wrapper img {
  width: 45px;
  height: 45px;
}
#story .inner .value .mission,
#story .inner .value .Values {
  padding-right: 100px;
}
#story .inner .value h3 {
  color: #333;
  font-family: "Noto Sans KR";
  font-size: 25px;
  font-weight: 500;
  line-height: 150%; /* 37.5px */
  letter-spacing: -1.25px;
}
#story .inner .value p {
  color: #333;
  font-family: "Noto Sans KR";
  font-size: 15px;
  font-weight: 300;
  line-height: 150%; /* 22.5px */
  letter-spacing: -0.9px;
}

#contactForm {
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
#contactForm .conForm {
  display: flex;
  height: 574px;
  background-color: #F3EFE9;
  width: 100%;
  max-width: 1920px;
}
#contactForm .conForm .formArea {
  margin-left: 0;
  padding: 0;
}
#contactForm .conForm .formArea .textbox {
  margin-left: 280px;
  margin-top: 92px;
}
#contactForm .conForm .formArea .textbox h2 {
  font-family: "Noto Sans KR";
  font-size: 27px;
  font-weight: 500;
}
#contactForm .conForm .formArea .textbox p {
  color: #666;
  font-family: "Noto Sans KR";
  font-size: 15px;
  font-weight: 400;
  line-height: 145%; /* 21.75px */
  letter-spacing: -1.2px;
}
#contactForm .conForm .formArea .form {
  margin-left: 280px;
  margin-bottom: 92px;
}
#contactForm .conForm .formArea .form .form_group {
  padding: 0;
}
#contactForm .conForm .formArea .form .form_group .input_field {
  padding: 0;
  margin-bottom: 2px;
  width: 403px;
  height: 43px;
  border: 1px solid #E8E7E4;
  color: #666;
  font-family: "Noto Sans KR";
  font-size: 15px;
  font-weight: 400;
  line-height: 145%;
  letter-spacing: -1.2px;
}
#contactForm .conForm .formArea .form .form_group .msg_field {
  padding: 0;
  margin-bottom: 2px;
  width: 403px;
  height: 165px;
  border: 1px solid #E8E7E4;
  color: #666;
  font-family: "Noto Sans KR";
  font-size: 15px;
  font-weight: 400;
  line-height: 250%;
  letter-spacing: -1.2px;
}
#contactForm .conForm .formArea .form .form_group .btn_field {
  padding: 0;
  width: 403px;
  height: 43px;
  border: 1px solid #E8E7E4;
  background-color: #fff;
  color: #333;
  font-family: "Noto Sans KR";
  font-size: 15px;
  font-weight: 500;
  line-height: 145%;
  letter-spacing: -1.2px;
  transition: 0.3s;
}
#contactForm .conForm .formArea .form .form_group .btn_field:hover {
  background-color: #c2c2c2;
  font-weight: 600;
}
#contactForm .conForm .imgArea {
  background-image: url("/img/contact.jpg");
  background-repeat: no-repeat;
  background-position: center !important;
  background-size: cover;
  width: 50vw;
  max-width: 960px;
}

#quick {
  position: fixed;
  bottom: 10%;
  right: 1%;
  width: 45px;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0;
  z-index: 999;
}
#quick ul {
  padding: 0;
  margin: 0;
}
#quick ul li {
  width: 100%;
}
#quick ul li span {
  display: none;
}

#ft {
  background-color: #D9261C;
}
#ft .container-1400 {
  overflow-x: hidden;
  height: 520px;
}
#ft .container-1400 .gnb li a {
  font-family: "Noto Sans KR";
  font-size: 17px;
  font-weight: 400;
  color: #fff;
}
#ft .container-1400 .ftText p {
  font-family: "Noto Sans KR";
  font-size: 15px;
  font-weight: 400;
  color: #fff;
}
#ft .container-1400 .ftText .ftTextIcon p {
  font-family: "Noto Sans KR";
  font-size: 15px;
  font-weight: 400;
  color: #fff;
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background-color: #e4e4e4;
}

::-webkit-scrollbar-thumb {
  background-color: #e09092;
}

::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {
  width: 10px;
}