#hd{
    background: lightgray;
    .container-1824{
        height: 100px;
        h1{
            a{
                img{

                }
            }
        }
        .gnb{
            .d1_li{ // 대메뉴
                .gnb_d1_a{ // 대메뉴 a
                    font-family: "Roboto Condensed";
                    font-size: 1.0625rem;
                    font-weight: 700;
                    color: #fff;
                }
                &:hover{    // .d1_li 에 마우스 올리면 ul 이 나타남
                    ul{     
                         max-height: 180px;
                    }
                }
                &:hover{    // .d1_li 에 마우스 올리면 .gnb_d1_a 색이 변함
                    > a{
                        color: #D9261C;
                    }
                }
                
                .d2_ul{ // 소메뉴
                    min-width: 80px;
                    max-height: 0;
                    transition: max-height 0.5s;  // height 만 transition
                    overflow: hidden;
                    white-space: nowrap;
                    background-color: #fff;
                    left: -1rem;
                    padding: 0 1rem !important;
                    border: 0 !important;
                    // text-align: center;
                    &:before,
                    &:after{    // 소메뉴 글자 위아래로 여백 주기
                        content: "";
                        display: block;
                        height: 8px;
                    }
                    a{
                        font-family: "Noto Sans KR";
                        font-size: 1.0625rem;
                        font-weight: 500;
                        color: #000;
                    }
                    li:hover{ // 소메뉴 a
                        > a{
                            color: #D9261C;
                        }
                    }
                }
            }
        }
        .iconMenu{
            width: 0;
            li{
                svg{
                    &:hover{
                        path{
                            fill: #D9261C;
                        }
                    }
                }
                span{
                    font-family: "Noto Sans KR";
                    font-size: 0.875rem;
                    font-weight: 700;
                    color: #fff;
                }
            }
        }
    }
}

#main{
    .mainImg{
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
    }
}

#ft{
    background-color: #D9261C;
    .container-1400{
        height: 520px;
        .gnb{
            li{ 
                border-bottom: 1px soild #c7c1c1;
                a{
                    font-family: "Noto Sans KR";
                    font-size: 17px;
                    font-weight: 400;
                    color: #fff;
                }
            }
        }
        .ftText{
            p{
                font-family: "Noto Sans KR";
                font-size: 15px;
                font-weight: 400;
                color: #fff;
            }
            .ftTextIcon{
                p{
                    font-family: "Noto Sans KR";
                    font-size: 15px;
                    font-weight: 400;
                    color: #fff;
                }
            }
        }
    }
}