#hd{
    .container-1824{
        // height: 100px;
        position: relative;
        z-index: 2; // header가 배경 이미지 위에 오도록 설정
        h1{
            a{
                img{

                }
            }
        }
        .gnb{
            li{ 
                display: inline-block; 
                a{
                    font-family: "Roboto Condensed";
                    font-size: 1.0625rem;
                    font-weight: 700;
                    color: #fff;
                }
            }
        }
        .iconMenu{
            width: 0;
            li{
                svg{
                    &:hover{
                        path{
                            fill: #D9261C;
                        }
                    }
                }
                span{
                    font-family: "Noto Sans KR";
                    font-size: 0.875rem;
                    font-weight: 700;
                    color: #fff;
                }
            }
        }
    }
}

#main{
    // position: relative;
    height: 100vh;
    .mainImg{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        z-index: 1;
    }
}

#ft{
    background-color: #D9261C;
    .container-1400{
        height: 520px;
        .gnb{
            li{ 
                display: inline-block;
                border-bottom: 1px soild #c7c1c1;
                a{
                    font-family: "Noto Sans KR";
                    font-size: 17px;
                    font-weight: 400;
                    color: #fff;
                }
            }
        }
        .ftText{
            p{
                font-family: "Noto Sans KR";
                font-size: 15px;
                font-weight: 400;
                color: #fff;
            }
            .ftTextIcon{
                p{
                    font-family: "Noto Sans KR";
                    font-size: 15px;
                    font-weight: 400;
                    color: #fff;
                }
            }
        }
    }
}