#hd {
    // background: transparent;
    position: relative;
    position: fixed;
    z-index: 99999;
    top: 0;
    width: 100%;
    h1 {
        width: 0;
        img {
            width: 64px;
            height: 64px;
        }
    }
    .gnb {
        &:before {
            content: "";
            align-items: center;
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            height: 0;
            width: 100%;
            transition: 0.5s;
            background-color: rgb(255, 255, 255, 0.8);
        }
        &:hover {
            &:before {
                height: 180px !important;
            }
        }
        .gnb_d1_li { // 대메뉴
            .gnb_d1_a { // 대메뉴 a
                font-family: "Roboto Condensed";
                font-size: 1.0625rem;
                font-weight: 500;
                color: #ffffff;
                
            }
            &:hover {    // .gnb_d1_li 에 마우스 올리면 ul 이 나타남
                ul {     
                    max-height: 180px;
                }
            }
            &:hover {    // .gnb_d1_li 에 마우스 올리면 .gnb_d1_a 색이 변함
                > a {
                    color: #D9261C;
                }
            }
            
            .d2_ul{ // 소메뉴
                max-height: 0;
                transition: max-height 0.5s;  // height 만 transition
                overflow: hidden;
                white-space: nowrap;
                left: -1rem;
                padding: 0 1rem !important;
                border: 0 !important;
                line-height: 2rem;
                letter-spacing: -0.85px;
                left: 50%;
                transform: translateX(-50%);
                text-align: center;
                font-size: 1.0625rem;
                &:before,
                &:after {    // 소메뉴 글자 위아래로 여백 주기
                    content: "";
                    display: block;
                    height: 3rem;
                }
                a {
                    font-family: "Noto Sans KR";
                    font-size: 1.0625rem;
                    font-weight: 500;
                    color: #333333;
                }
                li:hover { // 소메뉴 a
                    > a {
                        color: #D9261C;
                    }
                }
            }
        }
    }
    .iconMenu {
        width: 64px;
        li {
            svg {
                &:hover {
                    path {
                        fill: #D9261C;
                    }
                }
            }
            a {
                font-family: "Noto Sans KR";
                font-size: 0.875rem;
                font-weight: 500;
                color: #ffffff;
                letter-spacing: -0.85px;
                &:hover {
                    color: #D9261C;
                }
            }
        }
    }

    // 스크롤 시의 스타일
    &.scrolled {
        background-color: rgb(255, 255, 255, 0.8);
        .gnb_d1_a,
        .d2_ul a,
        a {
            color: #333 !important;
            &:hover {
                color: #D9261C !important;
            }
        } 
        svg path {
            fill: #333 !important; 
            &:hover {
                fill: #D9261C !important;
            }
        }

    }
}

#main {
    .mainBanner {
        .bgImg {
            width: 100%;
            max-width: 1920px;
            height: 100vh;
            max-height: 1000px;
            margin: 0 auto;
            background-image: url("../img/mainImg.jpg");
            background-repeat: no-repeat;
            background-position: center !important;
            background-size: cover;
            &:after {
                content: "";
                background-image: url("../img/coffeeBeen.png");
                background-repeat: no-repeat;
                background-size: 100%;
                display: inline-block;
                height: 66px;
                width: 109px;
                margin-top: 2%;
                margin-left: 54%;
            }
            .mainTextbox{
                width: 521px;
                margin-top: 461px;
                margin-left: 696px;
                text-align: center;
                .mainText1{
                    color: #FFF;
                    font-family: "Roboto Condensed";
                    font-size: 38px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 135%;
                    letter-spacing: 5.7px;
                    margin-bottom: 26px;
                }
                .mainText2{
                    color: #FFF;
                    font-family: "Noto Sans KR";
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 18px;
                    letter-spacing: -0.9px;
                    margin-bottom: 0;
                }
                .btn {
                    margin-top: 80px;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    font-family: "Noto Sans KR";
                    font-size: 16px;
                    font-weight: 500;
                    color: #ffffff;
                    background-color: #D9261C;
                    border-radius: 30px;
                    width: 168px;
                    height: 50px;
                    text-align: center;
                    letter-spacing: -0.8px;
                }      
            }
        }
    }
}

#product {
    margin-bottom: 200px;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    .productUl {
        overflow: hidden;
        padding: 0;
        width: 100%;
        max-width: 1920px;
        .productBox {
            .hoverBox {
                position: relative;
                overflow: hidden;
                width: 384px;
                height: 300px;
                background-color: #121013;
                &:hover {
                    background-color: #D9261C;
                    .titletext {
                        text-align: center;
                        z-index: 9999;
                    }
                    .subtext {
                        text-align: center;
                        font-weight: 700 !important;
                        z-index: 9999;
                    }
                    .prdImg {
                        transform: translateX(-120%);
                        z-index: 999;
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: rgba(18, 16, 19, 0.50);
                        transition: background-color 0.3s ease-in-out;
                        z-index: 998; // 이미지와 텍스트 아래에 위치
                        pointer-events: none; // 가상 요소가 클릭 이벤트를 차단하지 않도록 설정
                    }
                }
                .textarea {
                    position: absolute;
                    width: 100%;
                    padding: 100px 37px 0;             
                    z-index: 999;
                    .titletext {
                        font-family: "Noto Sans KR";
                        font-weight: 700;
                        color: #ffffff;
                        font-size: 24px;
                        letter-spacing: -1.2px;
                        line-height: 24px;
                    }
                    .subtext {
                        font-family: "Noto Sans KR";
                        font-weight: 400;
                        color: #ffffff;
                        font-size: 16px;
                        letter-spacing: -0.96px;
                        line-height: 22.6px;
                        
                    }
                }
                .imgarea {
                    position: relative;
                    z-index: 9;
                    .prdImg {
                        position: absolute;
                        transition: all 0.3s ease;
                        margin-top: 52px;
                        width: 134px;
                        height: 225px;
                        left: 282px;
                        z-index: 999;
                    }
                }
            }
        }
    }
}

#company {
    margin-bottom: 150px;
    display: flex;
    justify-content: center;
    .comdiv {
        overflow: hidden;
        margin-left: 48px;
        width: 100%;
        max-width: 1920px;
        .comtext {
            height: 253px;
            h2 {
                font-family: "Noto Sans KR";
                font-size: 29px;
                font-weight: 700;
                line-height: 141%; /* 40.89px */
                letter-spacing: -1.45px;
            }
            .btn {              
                margin-top: 25px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                font-family: "Noto Sans KR";
                font-size: 16px;
                font-weight: 500;
                color: #ffffff;
                background-color: #D9261C;
                border-radius: 30px;
                width: 160px;
                height: 42px;
                text-align: center;
                letter-spacing: -0.8px;              
            }
        }
        .swiper-container {
            .swiper-wrapper {
                display: flex;
                .swiper-slide {
                    position: relative;
                    width: 512px;
                    height: 285px;
                    border-top-right-radius: 30px;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    .dark_overlay {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border-top-right-radius: 30px;
                        background-color: rgba(0, 0, 0, 0.3);
                        z-index: 1;
                    }
                    .textarea {
                        position: absolute;
                        z-index: 2;
                        bottom: 0;
                        width: 100%;
                        height: 108px;
                        border-top-right-radius: 30px;
                        background: rgba(255, 255, 255, 0.40);
                        backdrop-filter: blur(2px);
                        h3 {
                            color: #FFF;
                            font-family: "Roboto Condensed";
                            font-size: 20px;
                            font-weight: 500;
                            line-height: normal;
                            letter-spacing: -0.6px;
                        }
                        p {
                            color: #FFF;
                            font-family: "Noto Sans KR";
                            font-size: 15px;
                            font-weight: 400;
                            line-height: 120%; /* 18px */
                            letter-spacing: -0.75px;
                        }
                        .arrow {
                            display: block;
                            position: absolute;
                            bottom: 38px;
                            right: 23px;
                            width: 32px;
                            height: 32px;
                            overflow: hidden;
                            svg {
                                position: absolute;
                                right: 0;
                                height: auto !important;
                                &.white {
                                    transition: opacity 0.2s, margin-right 0.2;
                                }
                                &.red {
                                    opacity: 0;
                                    right: 32px;
                                    transition: opacity 0.2s, right 0.2;
                                }
                            }
                            &:hover{
                                svg {
                                    &.white {
                                        animation: arrowAnimationBefore 0.3s forwards;
                                    }
                                    &.red {
                                        animation: arrowAnimationAfter 0.3s forwards 0.3s;
                                    }
                                }
                            }
                        }
                        @keyframes arrowAnimationBefore {
                            from {
                                margin-right: 0;
                                opacity: 1;
                            }
                            to {
                                margin-right: -32px;
                                opacity: 0;
                            }
                        }
                        @keyframes arrowAnimationAfter {              
                            from {
                                right: 32px;
                                opacity: 0;
                            }
                            to {
                                right: 0;
                                opacity: 1;
                            }
                        } 
                    }
                }
            }          
        }
    }
}

#art {
    margin-bottom: 465px;
    .box {
        position: relative;     
        .videoArea {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            z-index: 2; 
            img {
                max-width: 100%;
                height: auto;
            }
            .playButton {
                padding: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-image: url("/img/mediaPlayIcon.svg");
                background-size: cover; 
                width: 45px;
                height: 52px;
                border: none; 
                background-color: transparent; 
                cursor: pointer; 
                z-index: 3;
            }
        }
        .textArea {
            position: absolute;
            top: 265px;
            left: 0;
            right: 0;
            background-color: #D9261C; 
            height: 530px;
            width: 100%;
            z-index: 1; 
            text-align: center;
            padding-top: 330px;
            h2 {
                color: #FFF;
                font-size: 38px;
                font-weight: 500;
                line-height: 100%; /* 38px */
                letter-spacing: 15.2px;
            }
            .p1 {
                color: #FFF;
                font-size: 16px;
                font-weight: 500;
                line-height: 100%; /* 16px */
                letter-spacing: 3.2px;
            }
            .p2 {
                color: #FFF;
                font-family: "Noto Sans KR";
                font-size: 16px;
                font-weight: 300;
                line-height: 140%; /* 22.4px */
                letter-spacing: -0.8px;
            }

        }
    }
}

#shop {
    margin-bottom: 150px;
    display: flex;
    justify-content: center;
    .shopdiv {
        overflow-x: hidden;
        margin-left: 48px;
        width: 100%;
        max-width: 1920px;
        .shoptext {
            height: 226px;
            h2 {
                font-family: "Noto Sans KR";
                font-size: 29px;
                font-weight: 500;
                line-height: 140%; /* 40.6px */
                letter-spacing: -2.03px;
            }
            p {
                font-family: "Noto Sans KR";
                font-size: 15px;
                font-weight: 300;
                line-height: 140%; /* 21px */
                letter-spacing: -0.75px;
            }
            .btn {              
                display: inline-flex;
                align-items: center;
                justify-content: center;
                font-family: "Noto Sans KR";
                font-size: 16px;
                font-weight: 500;
                color: #ffffff;
                background-color: #D9261C;
                border-radius: 30px;
                width: 160px;
                height: 42px;
                text-align: center;
                letter-spacing: -0.8px;              
            }
        }
        .swiper-container {
            .swiper-wrapper {
                display: flex;
                .swiper-slide {
                    width: 350px;
                    height: 475px;
                    display: flex;
                    flex-direction: column;
                    img {
                        width: 100%;
                        height: 420px;              
                        border-top-right-radius: 30px; 
                        object-fit: cover; 
                    }
                    p {
                        color: #000;
                        font-family: "Noto Sans KR";
                        font-size: 17px;
                        font-weight: 500;
                        line-height: 100%; /* 17px */
                        letter-spacing: -0.85px;
                    }
                }
            }          
        }
    }
}

#story {
    margin-bottom: 200px;
    .inner {
        height: 586px;
        background: #F3EFE9;
        .textArea {
            padding-top: 94px;
            padding-left: 212px;
            h2 {
                color: #333;
                font-family: "Noto Sans KR";
                font-size: 29px;
                font-weight: 500;
                line-height: 145%;
                letter-spacing: -2.03px;
            }
            p {
                color: #666;
                font-family: "Noto Sans KR";
                font-size: 15px;
                font-weight: 300;
                line-height: 145%;
                letter-spacing: -1.2px;
            }
            .btn {              
                margin-top: 60px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                font-family: "Noto Sans KR";
                font-size: 16px;
                font-weight: 500;
                color: #ffffff;
                background-color: #D9261C;
                border-radius: 30px;
                width: 160px;
                height: 42px;
                text-align: center;
                letter-spacing: -0.8px;              
            }
        }
        .value {
            padding-top: 94px;
            padding-left: 151px;
            .icon_wrapper {
                width: 65px;
                height: 65px;
                background-color: #D9261C;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 45px;
                    height: 45px;
                }
            }
            .mission ,
            .Values {
                padding-right: 100px;
            }
            h3 {
                color: #333;
                font-family: "Noto Sans KR";
                font-size: 25px;
                font-weight: 500;
                line-height: 150%; /* 37.5px */
                letter-spacing: -1.25px;
            }
            p {
                color: #333;
                font-family: "Noto Sans KR";
                font-size: 15px;
                font-weight: 300;
                line-height: 150%; /* 22.5px */
                letter-spacing: -0.9px;
            }
        }
    }
}

#contactForm {
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    .conForm {
        display: flex;
        height: 574px;
        background-color: #F3EFE9;
        width: 100%;
        max-width: 1920px;
        .formArea {
            margin-left: 0;
            padding: 0;
            .textbox {
                margin-left: 280px;
                margin-top: 92px;
                h2 {
                    font-family: "Noto Sans KR";
                    font-size: 27px;
                    font-weight: 500;
                }
                p {
                    color: #666;
                    font-family: "Noto Sans KR";
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 145%; /* 21.75px */
                    letter-spacing: -1.2px;
                }   
            }
            .form {
                margin-left: 280px;
                margin-bottom: 92px;
                .form_group {
                    padding: 0;
                    .input_field {
                        padding: 0;
                        margin-bottom: 2px;
                        width: 403px;
                        height: 43px;
                        border: 1px solid #E8E7E4;
                        color: #666;
                        font-family: "Noto Sans KR";
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 145%;
                        letter-spacing: -1.2px;
                    }
                    .msg_field {
                        padding: 0;
                        margin-bottom: 2px;
                        width: 403px;
                        height: 165px;
                        border: 1px solid #E8E7E4;
                        color: #666;
                        font-family: "Noto Sans KR";
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 250%;
                        letter-spacing: -1.2px;
                    }
                    .btn_field {
                        padding: 0;
                        width: 403px;
                        height: 43px;
                        border: 1px solid #E8E7E4;
                        background-color: #fff;
                        color: #333;
                        font-family: "Noto Sans KR";
                        font-size: 15px;
                        font-weight: 500;
                        line-height: 145%;
                        letter-spacing: -1.2px;
                        transition: 0.3s;
                        &:hover {
                            background-color: #c2c2c2;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
        .imgArea {
            background-image: url("/img/contact.jpg");
            background-repeat: no-repeat;
            background-position: center !important;
            background-size: cover;
            width: 50vw;
            max-width: 960px;
        }
    }
}

#quick {
    position: fixed;
    bottom: 10%;
    right: 1%;
    width: 45px;
    height: fit-content;
    margin: 0;
    z-index: 999;
    ul {
        padding: 0;
        margin: 0;
        li{
            width: 100%;
            span {
                display: none;
            }
        }
    }
}

#ft {
    background-color: #D9261C;
   .container-1400 {
        overflow-x: hidden;
        height: 520px;
        .gnb {
            li { 
                a {
                    font-family: "Noto Sans KR";
                    font-size: 17px;
                    font-weight: 400;
                    color: #fff;
                }
            }
        }
        .ftText {
            p {
                font-family: "Noto Sans KR";
                font-size: 15px;
                font-weight: 400;
                color: #fff;
            }
            .ftTextIcon {
                p {
                    font-family: "Noto Sans KR";
                    font-size: 15px;
                    font-weight: 400;
                    color: #fff;
                }
            }
        }
    }
}

::-webkit-scrollbar{width: 16px;}
::-webkit-scrollbar-track{background-color: #e4e4e4;}
::-webkit-scrollbar-thumb{background-color: #e09092;}
::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment {
    width: 10px; 
}
